# Real-world Data Wrangling

## 1. Gather data

In this section, you will extract data using two different data gathering methods and combine the data. Use at least two different types of data-gathering methods.

### **1.1.** Problem Statement
In 2-4 sentences, explain the kind of problem you want to look at and the datasets you will be wrangling for this project.

# **Answers **

  In todays world global warming is the main problem and we address this problem by research questions.

Following are the research question:

(1)Identify the trend in temperature  over the time of 22 years

(2) Identify the trend in  Carbon monoxide  over the  22 years period

# **Dataset 1**

Q1 Why you picked the dataset

Q2 The gathering method

Q3 The names and significance of the variables in the dataset.

## Answers

(1) I picked the Seoul Weather Data because i want to see rise of temperature over the time.

(2) Data gathered from web 
URL =  'https://www.kaggle.com/api/v1/datasets/download/alfredkondoro/seoul-historical-weather-data-2024'

(3) As we interested in temperature changes over the time therefore following varaiables selected.

1-  Temp Variable :  which shows the temperature 

2-  Datetime Variable : which the date at which the temperature is recorded

In [1]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#1st data gathering and loading method

############################## First DataSet #########################################
# Seoul Weather Data load from url
# url return a zip file containing csv files

import requests as req
import zipfile as zf
from io import BytesIO 

url =  'https://www.kaggle.com/api/v1/datasets/download/alfredkondoro/seoul-historical-weather-data-2024'
response = req.get(url)

with zf.ZipFile(BytesIO(response.content)) as z:
    file_list = z.namelist()
   # print('files in zip =', file_list )

    csv_files = [ f  for f in file_list if f.endswith('.csv') ]

    count=len(csv_files)
    raw_df_wd = pd.DataFrame()
    i=0;
    
    while count > 0 :
        count= count -1
        if csv_files:
            with z.open(csv_files[i]) as f:
                temp_df = pd.read_csv(f)
                raw_df_wd = pd.concat([raw_df_wd , temp_df] , ignore_index = True)
                i =i+1
        else:
            print("No CSV files found.")

In [3]:
# Exporting raw weather data to CSV
raw_df_wd.to_csv('raw_df_wd.csv', index=False)

In [4]:
# assigning raw dataframe to new variable 
inprocess_df_wd=raw_df_wd

In [5]:
# showing five rows 
inprocess_df_wd.sort_values(by='datetime', ascending= False).head(5)

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
10971,seoul,2024-01-01,7.3,-0.2,3.0,6.6,-2.8,1.7,0.5,84.7,...,8.6,5.0,10.0,2024-01-01T07:46:50,2024-01-01T17:23:42,0.66,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47098099999,47112099999,4711909999..."
10970,seoul,2023-12-31,4.4,0.8,2.3,3.1,-1.8,0.4,1.5,94.7,...,4.5,4.0,10.0,2023-12-31T07:46:38,2023-12-31T17:22:57,0.63,"Snow, Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,"47111099999,47098099999,47112099999,4711909999..."
10969,seoul,2023-12-30,1.9,-0.9,0.5,-1.2,-3.5,-2.4,-1.0,90.1,...,1.8,1.0,10.0,2023-12-30T07:46:24,2023-12-30T17:22:12,0.60,"Snow, Rain, Partially cloudy",Partly cloudy throughout the day with rain or ...,snow,"47111099999,47098099999,47112099999,4711909999..."
10968,seoul,2023-12-29,4.5,-1.4,1.5,3.0,-3.5,-0.1,-3.3,70.2,...,8.8,4.0,10.0,2023-12-29T07:46:08,2023-12-29T17:21:29,0.57,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47098099999,47112099999,4711909999..."
10967,seoul,2023-12-28,4.1,-1.7,1.1,2.4,-3.4,0.0,-3.7,71.5,...,9.6,5.0,10.0,2023-12-28T07:45:50,2023-12-28T17:20:48,0.54,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47098099999,47112099999,4711909999..."

In [6]:
inprocess_df_wd.head(5)

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,seoul,1994-01-01,35.2,16.4,26.3,33.4,13.0,24.3,15.5,65.9,...,NaN,NaN,NaN,1994-01-01T07:46:54,1994-01-01T17:23:56,0.61,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47112099999,47120099999,4711009999..."
1,seoul,1994-01-02,43.0,31.5,36.2,39.4,26.7,32.6,27.9,72.1,...,NaN,NaN,NaN,1994-01-02T07:47:03,1994-01-02T17:24:44,0.65,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47112099999,47120099999,4711009999..."
2,seoul,1994-01-03,47.9,30.9,38.0,44.7,24.5,35.4,27.3,68.1,...,NaN,NaN,NaN,1994-01-03T07:47:11,1994-01-03T17:25:33,0.68,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47112099999,47120099999,4711009999..."
3,seoul,1994-01-04,38.8,22.1,30.1,32.0,18.4,26.3,13.6,51.2,...,NaN,NaN,NaN,1994-01-04T07:47:16,1994-01-04T17:26:23,0.72,Clear,Clear conditions throughout the day.,clear-day,"47111099999,47112099999,47120099999,4711009999..."
4,seoul,1994-01-05,40.0,24.0,33.1,40.0,18.5,31.0,21.7,63.9,...,NaN,NaN,NaN,1994-01-05T07:47:19,1994-01-05T17:27:14,0.75,"Snow, Rain, Overcast",Cloudy skies throughout the day with late afte...,rain,"47111099999,47112099999,47120099999,4711009999..."

# Dataset 2

Q1 Why you picked the dataset

Q2 The gathering method

Q3 The names and significance of the variables in the dataset.

## Answers

(1) I picked the air pollution dataset to see the rise in carbon monoxide(CO)  level in Seoul Air over the time.

(2) Reading from CSV file

(3) As we interested in CO level changes over the time therefore following varaiables selected.

1-  co Variable :  which shows the co value 

2-  dt Variable : which shows the date at which the co value is recorded

In [7]:
#2nd data gathering and loading method


############################### Second Dataset ######################
### Air Pollution Dataset

raw_df_pd = pd.read_csv('seoul_air_1988_2021.csv')
raw_df_pd.head(5)

,dt,loc,lat,long,so2,no2,co,o3,pm10,pm2.5
0,1988010100,103,37.540037,127.002661,NaN,0.007,10.3,0.000,NaN,NaN
1,1988010100,105,37.593730,126.947561,0.340,0.055,12.6,0.043,NaN,NaN
2,1988010100,107,37.542043,127.047497,0.399,0.046,13.4,NaN,NaN,NaN
3,1988010100,108,37.547185,127.090304,0.261,0.034,5.4,0.000,NaN,NaN
4,1988010100,113,37.654140,127.026801,0.443,0.039,14.6,0.000,NaN,NaN

Optional data storing step: You may save your raw dataset files to the local data store before moving to the next step.

In [8]:
# Exporting raw pollution data to CSV
raw_df_pd.to_csv('raw_df_pd.csv', index=False)

In [9]:
# assigning weather raw data to other variable
inprocess_df_pd=raw_df_pd

## 2. Assess data

## 1-Weather Data

Assess the data according to data quality and tidiness metrics using the report below.

List **two** data quality issues and **two** tidiness issues. Assess each data issue visually **and** programmatically, then briefly describe the issue you find.  **Make sure you include justifications for the methods you use for the assessment.**

### Quality Issue 1:

In [10]:
# Inspecting the dataframe 
inprocess_df_wd.isnull().sum()

name                    0
datetime                0
tempmax                 0
tempmin                 0
temp                    0
feelslikemax            0
feelslikemin            0
feelslike               0
dew                     0
humidity                0
precip                  0
precipprob              0
precipcover             0
preciptype           6923
snow                 2926
snowdepth            2717
windgust             7325
windspeed               0
winddir                 0
sealevelpressure        0
cloudcover              0
visibility              0
solarradiation       5851
solarenergy          5851
uvindex              5851
severerisk          10250
sunrise                 0
sunset                  0
moonphase               0
conditions              0
description             0
icon                    0
stations                0
dtype: int64

# The above visual shows the total number of missing values in each column

### Quality Issue 2:

In [11]:
# - Inspecting the dataframe 
inprocess_df_wd.duplicated().sum()

3

# the above value shows the total number duplicates

### Tidiness Issue 1:

In [12]:
# Inspecting the dataframe 
inprocess_df_wd['stations']

0        47111099999,47112099999,47120099999,4711009999...
1        47111099999,47112099999,47120099999,4711009999...
2        47111099999,47112099999,47120099999,4711009999...
3        47111099999,47112099999,47120099999,4711009999...
4        47111099999,47112099999,47120099999,4711009999...
                               ...
10967    47111099999,47098099999,47112099999,4711909999...
10968    47111099999,47098099999,47112099999,4711909999...
10969    47111099999,47098099999,47112099999,4711909999...
10970    47111099999,47098099999,47112099999,4711909999...
10971    47111099999,47098099999,47112099999,4711909999...
Name: stations, Length: 10972, dtype: object

#  you can see above the multiple values in one column

### Tidiness Issue 2:

In [13]:
# Inspecting the dataframe programmatically

print(inprocess_df_wd['datetime'].dtype)

object

# After the execution of above command , you can see the datatype of the column is object instead of datatime

## 3. Clean data
Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step. **Make sure you include justifications for your cleaning decisions.**

After the cleaning for each issue, please use **either** the visually or programatical method to validate the cleaning was succesful.

At this stage, you are also expected to remove variables that are unnecessary for your analysis and combine your datasets. Depending on your datasets, you may choose to perform variable combination and elimination before or after the cleaning stage. Your dataset must have **at least** 4 variables after combining the data.

In [14]:
# Make copies of the datasets to ensure the raw dataframes 
# are not impacted

cleaning_df_wd = inprocess_df_wd

### **Quality Issue 1:**

In [15]:
# Apply the cleaning strategy
# no need of following variables/columns  for analysis

cleaning_df_wd.drop(['preciptype', 'snow' , 'snowdepth', 'windgust', 'solarradiation', 'solarenergy', 'uvindex' , 'severerisk' ] , axis=1 , inplace=True )

In [16]:
# irrelavent columns have been removed successful because don't need them

### **Quality Issue 2: **

In [17]:
# Apply the cleaning strategy

cleaning_df_wd.drop_duplicates(inplace=True)

In [18]:
#  duplicated removed successfully

### **Tidiness Issue 1: **

In [19]:
# Apply the cleaning strategy

cleaning_df_wd.drop('stations' , axis=1 , inplace=True)

In [20]:
# column:stations has been removed because it contain multiple values and we don't need it

### **Tidiness Issue 2: **

In [21]:
# Apply the cleaning strategy

cleaning_df_wd['sunrise'] = pd.to_datetime(cleaning_df_wd['sunrise']) ;
cleaning_df_wd['sunset'] = pd.to_datetime(cleaning_df_wd['sunset']) ;
cleaning_df_wd['datetime'] = pd.to_datetime(cleaning_df_wd['datetime']) ;

In [22]:
print(cleaning_df_wd['sunrise'].dtype)
print(cleaning_df_wd['sunset'].dtype)
print(cleaning_df_wd['datetime'].dtype)

datetime64[ns]
datetime64[ns]
datetime64[ns]

In [23]:
# you can see the the dataype have been changed from object type to datetime

### **Dataset 2 - Air Polution**
resolve cleaning and tideness issues

In [24]:
# show only 5 rows 

cleaning_df_pd= inprocess_df_pd
cleaning_df_pd.head(5)

,dt,loc,lat,long,so2,no2,co,o3,pm10,pm2.5
0,1988010100,103,37.540037,127.002661,NaN,0.007,10.3,0.000,NaN,NaN
1,1988010100,105,37.593730,126.947561,0.340,0.055,12.6,0.043,NaN,NaN
2,1988010100,107,37.542043,127.047497,0.399,0.046,13.4,NaN,NaN,NaN
3,1988010100,108,37.547185,127.090304,0.261,0.034,5.4,0.000,NaN,NaN
4,1988010100,113,37.654140,127.026801,0.443,0.039,14.6,0.000,NaN,NaN

In [25]:
# total number of duplicates
cleaning_df_pd.duplicated().sum()

0

In [26]:
cleaning_df_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5984782 entries, 0 to 5984781
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   dt      int64
 1   loc     int64
 2   lat     float64
 3   long    float64
 4   so2     float64
 5   no2     float64
 6   co      float64
 7   o3      float64
 8   pm10    float64
 9   pm2.5   float64
dtypes: float64(8), int64(2)
memory usage: 456.6 MB

# Data Issue 1

In [27]:
# the following command shows the total number of null values in each column
cleaning_df_pd.isna().sum()

dt             0
loc            0
lat            0
long           0
so2       117565
no2       128616
co        161948
o3        108206
pm10      947434
pm2.5    2228730
dtype: int64

In [28]:
# as you can see above the total number of null values in each column

In [ ]:
# Removing last two digit in date column because we don't need them
cleaning_df_pd['dt'] =cleaning_df_pd['dt'].astype(str).str[:8]

In [ ]:
# converting to datetime

cleaning_df_pd['dt'] =pd.to_datetime(cleaning_df_pd['dt'])

In [ ]:
# droping null 
cleaning_df_pd = cleaning_df_pd.dropna()

In [ ]:
# there are multiple locations , removing all location except 103 to align the date column with another dataset

cleaning_df_pd = cleaning_df_pd[ cleaning_df_pd['loc'] == 103 ]

In [ ]:
# removing duplicates 
cleaning_df_pd.drop_duplicates(subset=['dt', 'loc', 'lat', 'long'], keep='first', inplace=True)

In [ ]:
# sorting values by dt column
cleaning_df_pd.sort_values(by='dt' , ascending=True ).head(5)

In [ ]:
cleaning_df_pd.sort_values(by='dt' , ascending=False ).head(2)

In [ ]:
# total number of rows in pollution dataset
row_count = len(cleaning_df_pd)
row_count

In [ ]:
cleaning_df_pd.sort_values(by='dt', ascending=True).head(5)

In [ ]:
# getting first row of every month in dataset
cleaning_df_pd = cleaning_df_pd.groupby( (cleaning_df_pd['dt']).dt.to_period('M')).first().reset_index(drop=True)
cleaning_df_pd.head(5)

In [ ]:
# total number of rows in pollution dataset
row_count = len(cleaning_df_pd)
row_count

### **Remove unnecessary variables and combine datasets**

Depending on the datasets, you can also peform the combination before the cleaning steps.

In [ ]:
cleaning_df_wd.info()

In [ ]:
#  filtering out columns so that we have only columns that we need in the weather data
cleaning_df_wd = cleaning_df_wd[['name' , 'datetime' , 'temp']] 
cleaning_df_wd.head(5)

In [ ]:
cleaning_df_wd.info()

In [ ]:
# renaming the column
cleaning_df_wd =cleaning_df_wd.rename(columns={'datetime':'date'} )
cleaning_df_wd.head(2)

In [ ]:
# Sort by date
cleaning_df_wd = cleaning_df_wd.sort_values('date', ascending= True)

In [ ]:
# getting the first entry of every month
cleaning_df_wd = cleaning_df_wd.groupby(cleaning_df_wd['date'].dt.to_period('M')).first().reset_index(drop=True)

In [ ]:
# Filtering the weather data 
# We have Air pollution data from 2001-8-8 to 2021-12-31

cleaning_df_wd = cleaning_df_wd[ ( cleaning_df_wd['date'].dt.year >= 2001 ) & ( cleaning_df_wd['date'].dt.year <= 2021 )]

In [ ]:
#  starting date in the weather data 2001-01-01
cleaning_df_wd.sort_values( by='date', ascending=True).head(2)

In [ ]:
# filtering out the data
cleaning_df_wd = cleaning_df_wd[cleaning_df_wd['date'] >= '2001-08-01']

In [ ]:
#  last date in the weather data 2021-11-01
cleaning_df_wd.sort_values( by='date', ascending=True).head(5)

In [ ]:
cleaning_df_wd['date'] = cleaning_df_wd['date'].dt.strftime('%Y-%m')

In [ ]:
cleaning_df_wd.sort_values( by='date', ascending=True).head(5)

In [ ]:
row_count= len(cleaning_df_wd)
print('total rows in weather data =',row_count)

In [ ]:
row_count= len(cleaning_df_pd)
print('total rows in Pollution data =',row_count)

In [ ]:
# drop irrelavent columns loc , lat , long
cleaning_df_pd.drop(columns=['loc', 'lat', 'long'],inplace=True)
cleaning_df_pd.head(2)

In [ ]:
#  starting date in the pollution data 2001-8-8
cleaning_df_pd.sort_values( by='dt', ascending=True).head(5)

In [ ]:
# last date in the polution 2021-12-31
cleaning_df_pd.sort_values( by='dt', ascending=False).head(2)

In [ ]:
cleaning_df_pd['dt'] = cleaning_df_pd['dt'].dt.strftime('%Y-%m')

In [ ]:
cleaning_df_pd = cleaning_df_pd.rename(columns =  {'dt' : 'date' } )

In [ ]:
cleaning_df_pd.head(5)

In [ ]:
row_count = len(cleaning_df_pd)
print(row_count)

In [ ]:
# Perform inner join on the 'date' column
combined_df = pd.merge(
    cleaning_df_wd,
    cleaning_df_pd,
    on='date',
    how='inner'  # This is the crucial change for inner join
)

# Verify the results
print(f"Number of rows after inner join: {len(combined_df)}")
print("Sample of combined data:")
print(combined_df.head(5))

## 4. Update your data store
Update your local database/data store with the cleaned data, following best practices for storing your cleaned data:

- Must maintain different instances / versions of data (raw and cleaned data)
- Must name the dataset files informatively
- Ensure both the raw and cleaned data is saved to your database/data store

In [ ]:

# Export to CSV
combined_df.to_csv('combined_data.csv', index=False)

## 5. Answer the research question

### **5.1:** Define and answer the research question 
Going back to the problem statement in step 1, use the cleaned data to answer the question you raised. Produce **at least** two visualizations using the cleaned data and explain how they help you answer the question.

In [ ]:
#Visual 1 

df = combined_df[pd.to_datetime(combined_df['date']).dt.month == 6]
plt.figure(figsize=(7,4))
plt.plot(df['date'], df['temp'], 'r')
plt.title('Temperature Level')
plt.ylabel('temperature')
plt.xlabel('date')
plt.xticks(rotation=45)
plt.tight_layout()  
plt.grid(True)
plt.show()

My Research questions is 
1)Identify the trend in temperature over the time of 22 years 

The current graph do not reflect the consistent trend(upward or downward) in temperature therefore need more datasets for meaningful results

In [ ]:
df = combined_df[pd.to_datetime(combined_df['date']).dt.month == 6]
plt.figure(figsize=(7, 4))
plt.plot(df['date'], df['co'], 'b')
plt.title('Level of CO in June')
plt.ylabel('CO')
plt.xlabel('Date')
plt.xticks(rotation=45)
plt.grid(True)
plt.tight_layout()
plt.show()

My Research questions is 
1)Identify the trend in CO over the time of 22 years 

The current graph do not reflect the consistent trend(upward or downward) in CO therefore need more datasets for meaningful results

### **5.2:** Reflection
In 2-4 sentences, if you had more time to complete the project, what actions would you take? For example, which data quality and structural issues would you look into further, and what research questions would you further explore?

The current graphs do not reflect the expected trends(upward or downward) in temperature and CO over the 22-year period. If i have more time , i will download and compare additional datasets from reliable sources to validate and refine the analysis.